name: Build Documentation

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches:
    - main

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/configure-pages@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install meson libglib2.0-dev gobject-introspection gi-docgen gir1.2-glib-2.0-dev

      - name: Configure
        run: meson setup build -Ddocumentation=true

      - name: Build
        run: meson compile -Cbuild

      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/docs/rmf/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
